<div class="app-container">
    <div class="form-container">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/auth"></ion-back-button>
        </ion-buttons>
        <h1 class="Titulo_1" style="text-align: center;">Registro de Usuario</h1>
        <div></div>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="validarFormulario()">
  <!--===========Nombre===========-->
          <label class="my-label">Ingrese su Nombre Completo</label>
          <ion-input class="input" type="text" formControlName="nombre" required></ion-input>
        <!--===========Rut===========-->
          <label class="my-label">Ingrese su Rut</label>
          <ion-input class="input" type="text" formControlName="rut" maxlength="10" placeholder="12345678-9"></ion-input>
    <!--===========Correo Electronico===========-->
          <label class="my-label">Correo electrónico</label>
          <ion-input class="input" type="text" formControlName="correo" placeholder="nombre@gmail.com" required></ion-input>
    <!--===========Numero de Telefono===========-->
          <label class="my-label">Número de Teléfono</label>
          <ion-input class="input" type="tel" formControlName="telefono" required placeholder="+56 9XXXXXXXX" maxlength="12"></ion-input>
    <!--===========Contraseña===========-->
          <label class="my-label">Contraseña</label>
          <ion-input class="input" type="password" formControlName="contrasena" required></ion-input>
    <!--===========Confirmar Contraseña===========-->
          <label class="my-label">Confirmar Contraseña</label>
          <ion-input class="input" type="password" formControlName="confirmar_contrasena" required></ion-input>
    
        <ion-button expand="full" type="submit">Registrarse</ion-button>
        
      </form>
    </div>
    </div>
  